/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height : 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    height: 70px; 
    position: relative;  
    top: 0px; 
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}


/*Nav Bar : Logo and image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/*Nav Bar : List Styling */

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color: white; 
}
#navbar ul li a:hover{
    background-color: white;
    color: black; 
}

/* HOME section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 445px;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../bg6.jpg') no-repeat center center/cover;
    height: 73%;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
    top: 0px;
    left: 0px;
}

#home h1{
    color:  whitesmoke;
    text-align: center;
    font-family: "Bree Serif", serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Bree Serif", serif;
}
/* Services Section */
#services{
    margin: 20px;
    display: flex;
}
.services-container::before{
    content: "";
    position: absolute;
    /* background: url('../bg4.jpg'); */
    width: 100%;
    height: 70.1%;
    z-index: -1;
    opacity: 0.7;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: -16px 15px 12px;
    border-radius: 23px;
    background-color: rgb(231, 223, 223);
}
#services .box img{
    height: 150px;
    width: 220px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: "Bree Serif", serif;
    font-size: 0.9rem;
}

/* Client Section */
#client-section{
    height: 345px;
    position: relative;  
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg4.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#clients img{
    height: 75px;  
}

.client-item{
    padding: 34px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contacts Section */
#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/contact.jpg);
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5em;
    border-radius: 9px;
    font-size: 0.8rem;
}
#contact-box label{
    font-size: 1rem;
    font-family: "Bree Serif", serif;
}
#contact-box form{
    width: 40%;

}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    font-family: "Bree Serif", serif;;
}
/* Utility Classes */
.h-primary{
    font-size: 2.1rem;
    padding: 10px;
    font-family: "Bree Serif", serif;
}


.h-secondary{
    font-size: 1.6rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: pink;
    color: black;
    font-family: "Bree Serif", serif;
    margin: 17px;
    margin-top: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}